* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

.wrapper {
  max-width: 600px;
  background-color: #eee;
  margin: 20px auto 0;
  padding: 30px 20px 10px;
  border-radius: 4px;
  position: relative;
}
.wrapper__heading {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 40px;
  color: dodgerblue;
}
.wrapper__input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
  position: relative;
}

.wrapper__input-text {
  width: 40%;
  border: none;
  outline: none;
  padding: 8px 16px;
  border-radius: 3px;
  height: 40px;
  font-size: 2rem;
  color: #333;
  margin: 5px;
}
.wrapper__input-text::placeholder {
  font-size: 2rem;
}
.btn {
  background-color: dodgerblue;
  color: #fff;
  border: none;
  outline: none;
  text-decoration: none;
  border-radius: 3px;
  padding: 0px 20px;
  font-size: 1.6rem;
}
.btn:hover {
  background-color: rgb(5, 128, 252);
}
.wrapper__input-btn {
  height: 40px;
  cursor: pointer;
}
.btn-big {
  float: right;
  padding: 10px 20px;
  margin-bottom: 14px;
}

table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  font-size: 2rem;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}

table thead {
  text-align: left;
}
table th {
  background-color: silver;
  padding: 0px 20px;
}
table tr {
  height: 46px;
  border-bottom: 1px solid silver;
}
table td {
  padding: 0px 20px;
  text-transform: capitalize;
}
table tr td:nth-child(2) {
  color: dodgerblue;
}
table tr:hover {
  background-color: #eaeaea;
}
table tr:last-child {
  border-bottom: none;
}
.btn-remove {
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: bold;
}

/* .alert {
  position: absolute;
  z-index: 1;
  left: 20px;
  right: 20px;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 10px 20px;
  font-size: 1.6rem;
  border-radius: 4px;
  animation: fadeOut cubic-bezier(1,.09,1,.09) 3s forwards;
  display: none;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
} */





@media (max-width: 739px){
  .wrapper__input {
    display: block;
  }
  .wrapper__input-text {
    width: 100%;
    margin-bottom: 8px;
  }
  .wrapper__input-btn {
    padding: 0px 30px;
    margin: 0;
    float: right;
    display: block;
  }
  .wrapper__input::after {
    content: '';
    display: block;
    clear: both;
  }
}